.uploadItemTable th {
  vertical-align: top;
  width: 170px;
  font-weight: bold;
  text-align: left;
}

.spacer {
  height: 10px;
}
.viewVersions tr {
}

.viewVersions th {
  padding: 7px;
  width: 100px;
  background: #F2F2F2;
}

.viewVersions td {
  padding: 7px;
}

.torrentInfoBox {
  border: 1px solid grey;
}

.torrentInfoBox .nameVersion {
  background: #DDD;
  padding: 7px;
  border-bottom: 1px solid grey;
}

.torrentInfoBox .name {
  float: left;
}

.torrentInfoBox .download {
  float: right;
  text-align: right;
  width: 300px;
}

.torrentInfoBox .version {
  float: right;
  text-align: right;
  width: 200px;
}

.torrentInfoBox .description {
}

.torrentInfoBox .descriptionTitle {
  float: left;
  padding: 7px;
}

.torrentInfoBox .descriptionText {
  float: left;
  border-left: 1px solid grey;
  padding: 7px;
  background: #FFF;
  min-height: 100px;
}

.torrentInfoBox .dateDevel {
  border-top: 1px solid grey;
  background: #DDD;
  padding: 7px;
}

.torrentInfoBox .dateUploaded {
  float: left;
}

.torrentInfoBox .uploader {
  width: 200px;
  float: right;
  text-align: right;
}

.torrentInfoBox .developer {
  width: 300px;
  float: right;
  text-align: right;
}

.torrentInfoBox .categories {
  background: #F2F2F2;
  padding: 7px;
}

.torrentFiles th {
  width: 710px;
  padding: 5px;
  border: 1px solid grey;
  background: #DDD;
}

.torrentFiles td {
  padding: 5px;
  border-bottom: 1px solid grey;
}
